.movie__list {
  padding: 0 3rem 3rem 3rem;
}

.list__title {
  font-size: 1.75rem;
  margin: 2.5rem;
}

.list__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.morepicture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  button {
    padding: 0.25rem 0.5rem;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(252, 202, 0);
    color: white;
    cursor: pointer;
  }
}

