nav {
  margin: 0 1.5rem;
  padding: 0.5rem 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-title {
  transition: all 0.35s ease;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

a > span,
.nav-icon {
  margin: 0 20px;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

a > span:hover {
  color: red;
}

.nav-icon {
  width: 80px;
  cursor: pointer;
}

.user-avatar {
  font-size: 2rem;
}

@media (max-width: "700px") {
  .nav {
    margin: 0 1.35rem;
  }
  .nav-title {
    margin-right: 1.15rem;
    font-size: 1.75rem;
  }
  .nav-icon {
    width: 70px;
  }
}

@media (max-width: "420px") {
  .nav-title {
    margin: 0.75rem;
    font-size: 1rem;
  }
  .nav-icon {
    width: 50px;
  }
}

@media (max-width: "290px") {
  .nav-title {
    margin: 0.55rem;
    font-size: 0.75rem;
    font-weight: 500;
  }
  .nav-icon {
    width: 35px;
  }
}

