* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

html,
body,
#root,
.App {
  min-height: 100%;
}

html {
  background-color: black;
}

nav {
  margin: 0 1.5rem;
  padding: 0.5rem 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

a > span,
.nav-icon {
  margin: 0 20px;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

a > span:hover {
  color: red;
}

.nav-icon {
  width: 80px;
  cursor: pointer;
}

.user-avatar {
  font-size: 2rem;
}

.movie-link {
  text-decoration: none;
  color: white;
}

#star-icon {
  font-size: 2.2rem;
}

.posterImage {
  height: 100%;
}

.posterImage > img {
  margin: auto;
  display: block;
  width: 100%;
}

.control-dots {
  background-color: transparent;
}

.posterImage__overlay {
  position: absolute;
  padding: 5rem;
  bottom: 0px;
  height: 50%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  opacity: 0.3;
  transition: height 0.1s opacity 0.3s;
}

.posterImage__overlay:hover {
  opacity: 0.8;
}

.posterImage__title {
  margin-top: 1rem;
  font-weight: 900;
  font-size: 3.5rem;
  margin-bottom: 0.4rem;
  text-align: left;
}

.posterImage__runtime {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.posterImage__rating {
  font-size: 2.5rem;
  margin-left: 4rem;
}

.posterImage__description {
  font-style: italic;
  font-size: 1.3rem;
  margin-bottom: 0.25rem;
  display: flex;
  text-align: left;
  width: 50%;
}

@media (max-width: 1680px) {
  .posterImage__overlay {
    transition: all 0.1s ease;
    height: 60%;
  }
}
@media (max-width: 1470px) {
  .posterImage__overlay {
    transition: all 0.1s ease;
    height: 70%;
  }
}
@media (max-width: 1370px) {
  .posterImage__overlay {
    transition: all 0.1s ease;
    height: 100%;
  }
}
.cards {
  display: inline-block;
  transition: transform 0.2s;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 0.19rem;
  cursor: pointer;
  min-width: 200px;
  height: 300px;
  z-index: 0;
  border: 1px solid rgb(99, 99, 99);
}

.cards:hover {
  transform: scale(1.2);
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cards__img {
  height: 300px;
}

.cards__overlay {
  position: absolute;
  padding: 0 1rem 1rem 1rem;
  bottom: 0px;
  height: 300px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  opacity: 0;
  transition: opacity 0.2s;
}

.cards__overlay:hover {
  opacity: 0.5;
}

.card__title {
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.card__runtime {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.card__rating {
  float: right;
}

.card__description {
  font-style: italic;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.movie__list {
  padding: 0 3rem 3rem 3rem;
}

.list__title {
  font-size: 1.75rem;
  margin: 2.5rem;
}

.list__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.morepicture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.morepicture button {
  padding: 0.25rem 0.5rem;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(252, 202, 0);
  color: white;
  cursor: pointer;
}

.movie {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie__intro {
  width: 80%;
}

.movie__backdrop {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 35%;
     object-position: 0 35%;
}

.movie__detail {
  align-items: center;
  width: 75%;
  display: flex;
  position: relative;
  bottom: 225px;
  opacity: 0.8;
}

.movie__detailLeft {
  margin-right: 30px;
}

.movie__poster {
  width: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
}

.movie__detailRight {
  color: white;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-between;
}

.movie__detailRightTop > div {
  text-shadow: 0px 0px 5px #000000;
  margin-bottom: 0.5rem;
}

.movie__name {
  font-weight: 600;
  font-size: 3rem;
}

.movie__voteCount {
  margin-left: 1rem;
}

.movie__genres {
  margin: 1.25rem 0;
}

.movie__genre {
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 20px;
  margin-right: 1rem;
}

.movie__detailRightBottom {
  margin: 2rem 0;
  flex: 0.8;
}

.synopsisText {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
  display: flex;
  position: relative;
  align-items: center;
}

.synopsisText > div:last-of-type {
  margin-left: auto;
}

.movie__links {
  position: relative;
  bottom: 120px;
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.movie__heading {
  font-size: 2.2rem;
}

.movie__Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 2rem;
  border-radius: 20px;
  cursor: pointer;
  width: 150px;
  color: black;
  font-weight: bold;
}

.movie__homeButton {
  background-color: rgb(255, 0, 0);
}

.movie__imdbButton {
  background-color: #f3ce13;
}

.newTab {
  margin-left: 1.4rem;
}

.movie__production {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 4rem;
}

.movie__productionComapany {
  width: 200px;
  margin: 2rem;
}

.productionCompanyImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#link-yellow {
  background-color: #f3ce13;
  color: black;
  font-size: 1.2rem;
}

#link-red {
  background-color: rgb(255, 0, 0);
  color: black;
  font-size: 1.2rem;
}/*# sourceMappingURL=style.css.map */